modules = ["python-base-3.13"]
run = "python run.py"
[nix]
channel = "stable-25_05"
packages = ["sqlite"]

[deployment]
run = ["sh", "-c", "test.py"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80

[agent]
expertMode = true
