 {% include  'header.html' %} 
    <div class='container'>      
    <h1 class='text-center mt-2 mb-2'>FIND HSR Database</h1>
    <img id='banner' class='img-fluid' src='/static/banner.jpg' alt='Banner Image'>
    
      <div class="row p-0 mt-3">
          <div class='mt-2 mb-2 col-9' id='filter'>
          <form action="/filter" method="post">
            <label for="filter">Filter:</label>
            <input type="text" id="filter" name="filter">
            <input type="submit" value="Submit">
          </form> 
        </div>
          
          <div class='mt-2 mb-2 col-3 text-end' id='add_study'>
    <a href='/study/study' class='btn btn-primary btn-sm'> Add New Study </a>
          </div>
      </div>

        <div id='content' class='mt-2 mb-2 p-2'>
    <table class='table table-bordered'>
      <tr>
        <th>Study ID</th>
        <th>Protocol Number</th>
        <th>Protocol Short Title</th>
        <th>CT.gov Number</th>
        <th>Research Type</th>
        <th colspan='2' width='18%' style='text-align:center;vertical-align: middle;' >Actions</th>

      </tr>
      {% for study in studies %}
      <tr>
        <td>{{ study.study_id }}</td>
        <td>{{ study.protocol_num }}</td>
        <td>{{ study.protocol_desc }}</td>
        <td>{{ study.ctgov_num }}</td>
        <td>{{ study.research_type }}</td>
        <td cospan='2' width='18%' style='text-align:center;vertical-align: middle;'><a href='/study/{{ study.study_id }}/view'> View </a> | <a href='/update/{{ study.study_id }}'> Update</a> | <a href='/delete/{{ study.study_id }}'> Delete</a> </td>

      </tr>
      {% endfor %}


    </table>
</div>

     
      </div>
     {% include  'footer.html' %} 
